<h1>Create a new Workout Entry: </h1>

<form class="" action="/workout_entries" method="post">
  <label for="exercise">Exercise:</label>
  <input type="text" name="exercise">
  <label for="reps">Reps:</label>
  <input type="text" name="reps">
  <input type="submit" name="" value="Create Exercise">
</form>